@model BucketList.Models.Shopping

@{
    ViewBag.Title = "SeeWhoElse";
}

<h2>SeeWhoElse</h2>

<div id="team">

    @foreach (var user in ViewBag.whoUser)
    {
        <p>@user.UserName</p>

    }


</div>