@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@


<div class="jumbotron">
    <div id="aboutPage">
        <div id="aboutLogo">
            <img src="~/Images/BucketList500.PNG" />
        </div>
        <div class="row" div id="aboutContent">
            <div class="col-md-12">
                    <p>
                        Do you have a Bucket List?  Is it a piece of paper hidden in a drawer?  Maybe a list in your phone?
                        Bucklist will have your list come to life as you activley plan and complete items.  Here you can
                        enter list items and save them online so you have access to them anywhere.  You can mark items
                        complete and add more.  So your Bucket List will actualy become a part of your planning for your
                        next vacation or marking out time to learn a second language.
                    </p>
                </div>
            </div>
        </div>
    </div>

