<link rel="stylesheet" href="css/animations.css">
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>


@{
    ViewBag.Title = "Cleveland BucketList";
}







<div class="container">
    <div class="jumbotron">
        <div id="fade">
            <div id="logo">
                <img src="~/Images/BucketListCleveland.png" style='width:65%;' border="0" alt="Null" />

            </div>
            @*<p>Welcome to your source for all your bucket list activites for the CLE</p>*@
            <p> </p>



            <div id="loginbutton" class="pulse">
                <p><a href="/Account/Login" class="btn btn-primary btn-md">Login &raquo;</a> <a href="/Account/Register" class="btn btn-primary btn-md">Register &raquo;</a></p>

            </div>
        </div>
    </div>

    <div class="row">
        <div id="description" div class="col-md-12">
            <h2>Make your list.  Get involved.  Connect.  Explore your city!</h2>
            <div class="fb-share-button" data-href="https://localhost:44312/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flocalhost%3A44312%2F&amp;src=sdkpreparse">Share</a></div>
            @*<p>Welcome to your source for all your bucket list activites for the CLE
                </p>*@
            @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </div>
        @*<div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>*@

    </div>
</div>

<audio autoplay>
    <source src="~/Audio/Rocks%20Fade.mp3" type="audio/mpeg" />
</audio>





    